// Scrollbar
@mixin scrollbar-vertical {
	&::-webkit-scrollbar-track {
		background: $color-transparent;
	}

	&::-webkit-scrollbar {
		width: 4px;
		background-color: $color-transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: $color-divider;
		border-radius: 16px;
	}
}

// Hue Modifiers
@mixin hue-modifiers {
	&--primary {
		background: $color-primary;
		color: $color-primary-contrast;
	}

	&--primary-variant {
		background: $color-primary-variant;
		color: $color-primary-variant-contrast;
	}

	&--secondary {
		background: $color-secondary-contrast;
		color: $color-secondary-variant;
	}

	&--secondary-variant {
		background: $color-secondary-variant;
		color: $color-secondary-variant-contrast;
	}

	&--error {
		background: $color-error;
		color: $color-dark;
	}

	&--success {
		background: $color-success;
		color: $color-dark;
	}

	&--warning {
		background: $color-warning;
		color: $color-dark;
	}

	&--information {
		background: $color-information;
		color: $color-dark;
	}

	&--auto {
		background: $color-background;
		color: $color-contrast;
	}

	&--invert {
		background: $color-contrast;
		color: $color-background;
	}

	&--light {
		background: $color-light;
		color: $color-dark;
	}

	&--dark {
		background: $color-dark;
		color: $color-light;
	}
}

@mixin hue-background-modifiers {
	&--primary {
		background: $color-primary;
	}

	&--primary-variant {
		background: $color-primary-variant;
	}

	&--secondary {
		background: $color-secondary;
	}

	&--secondary-variant {
		background: $color-secondary-variant;
	}

	&--error {
		background: $color-error;
	}

	&--success {
		background: $color-success;
	}

	&--warning {
		background: $color-warning;
	}

	&--information {
		background: $color-information;
	}
}

@mixin hue-color-modifiers {
	&--primary {
		color: $color-primary;
	}

	&--primary-variant {
		color: $color-primary-variant;
	}

	&--secondary {
		color: $color-secondary;
	}

	&--secondary-variant {
		color: $color-secondary-variant;
	}

	&--error {
		color: $color-error;
	}

	&--success {
		color: $color-success;
	}

	&--warning {
		color: $color-warning;
	}

	&--information {
		color: $color-information;
	}
}

@mixin hue-border-modifiers($property: border, $thickness: 1px) {
	&--primary {
		#{$property}: $thickness solid $color-primary;
	}

	&--primary-variant {
		#{$property}: $thickness solid $color-primary-variant;
	}

	&--secondary {
		#{$property}: $thickness solid $color-secondary;
	}

	&--secondary-variant {
		#{$property}: $thickness solid $color-secondary-variant;
	}

	&--error {
		#{$property}: $thickness solid $color-error;
	}

	&--success {
		#{$property}: $thickness solid $color-success;
	}

	&--warning {
		#{$property}: $thickness solid $color-warning;
	}

	&--information {
		#{$property}: $thickness solid $color-information;
	}
}
