$border-radius-standard: 0.5rem;
$transition-standard: all 0.3s ease-in-out;
$reading-width-standard: 850px;
$box-shadow-standard: $color-disabled 0px 2px 8px;
$box-shadow-heavy: rgba(149, 157, 165, 0.2) 0px 8px 24px;
